/target/*
/project/target/
/project/project/
*.jar
*.war
*.class

/build/
/out/

.idea/
.idea_modules/
.bsp/
.metals/
.vscode/
*.iml
*.ipr
*.iws

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.log

/data/*
/results/*
*.csv
*.parquet

.sbt/boot/
.sbt/launchers/
.sbt/preloaded/

.cache
