/target/*
/project/target/
/project/project/
*.jar
*.war
*.class
.scalafmt.conf
/build/
/out/
.bloop
.idea/
.idea_modules/
.bsp/
.metals/
.vscode/
*.iml
*.ipr
*.iws
.scala-build/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.log

/data/*

*.csv
*.parquet

.sbt/boot/
.sbt/launchers/
.sbt/preloaded/

.cache
